html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 1200px;
        margin: 0px auto 50px;
    }

    .slick-slide {
      margin: 0px 20px; position: relative; padding-top: 100px;
    }

    .slick-slide img {
      width: 100%;
    }
	.slick-slide .number{width: auto;}

    .slick-prev:before,
    .slick-next:before {
      content:'';
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }

		/*.slick-current img:nth-child(1){
			transform: scale(1.1)
		}*/
	
	/*이동버튼 꾸미기*/
	.slick-prev, .slick-next{
		width:31px;
		height:59px;
	}
	.slick-prev{
		background:url(../images/icon_left.png) no-repeat;
		left:-50px; top:278px
	}
	.slick-prev:hover{
		background:url(../images/icon_left.png) no-repeat;
	}
	.slick-next{
		background:url(../images/icon_right.png) no-repeat;
		right:-50px; top: 278px;
	}
	.slick-next:hover{
		background:url(../images/icon_right.png) no-repeat;
	}
	
	/*블릿버튼 꾸미기*/
	.slick-dots li button:before{
		content:'';	
	}
	.slick-dots li button{
		width:10px;
		height:10px;
		padding:0;
		background:pink;
		border-radius:50%;
		opacity: 0.5;
	}
	.slick-dots li.slick-active button{
		background:pink;
		opacity:1
	}
	
